.navbar {
  margin-bottom:
}

.navbar ul {
  text-align: center;
}
.web-image {
  background: url(fond.jpg);
  height: 500px;
}

.design {
  margin-top: 150px;
}

.about {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

.align-center {
  text-align: center;
  /*color: white;*/
}

.row-centered {
  text-align: center;
}

#comp {
background: #2c3e50;
padding-top: 60px;
padding-bottom: 60px;
color: white;
}

#footer {
  background: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px;
}

.desac {
 background-color: grey;
 font-family: Aria;
 font-weight: 300;
 font-size: 16px;
 color: #555;
 padding-top: 50px;
 padding-bottom: 50px;
}

.conatiner {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.align-info {
  text-align: center;
  color: white;
}

button {
  padding: 5px;
  background: black;
  color: white;
  margin-top: 10px;
}

.grey {
color: grey;
}

.social {
  color: white;
}

.titre {
  font-size: 1.5em;
}

.space {
  margin-top: 10px;
}

t {
  color: white;
  font-size: 1.3em;
}

h5 {
  color : white;
}

span {
  color: black;
}
